
.contactsBlock {
    height: 100vh;
    background-color: #d2a68f;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.form {
    width: 50%;
    height: 25%;
    background-color: #b6c1c1;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}